@charset "UTF-8";
/*
================Variáveis================
*/
:root{
    --cor-bg-transparente: #121214aa;
    --cor-fundo-botão: #8257e5;
    --cor-background: #121214;
    --cor-formulario: #A8A8A8;
    --cor-titulos: #04D361;
    --cor-letras: #ffffff;
  }
/*
==========Configurações Globais==========
*/
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body, html{
    height: 100%;
}
/*
==================Corpo==================
*/
body{
    background: var(--cor-background) url(../imagens/lendo_noticias.jpg) no-repeat top right;
    font-family: sans-serif;
    background-size: cover;
    color: var(--cor-letras);
}
/*
================Cabeçalho================
*/
header{
    background: var(--cor-background);
    padding-bottom: 5%;
    width: 50%;
    
}
#logo{
   width: 70%;
}
/*
=================Conteúdo================
*/
main{
    background-color: var(--cor-background);
    padding: .5em;
    text-align: justify;
    line-height: 2em;
    height: 89%;
    width: 50%;
}
main h2{
    color: var(--cor-titulos);
    padding-top: 1em;

}
main h3{
    color: var(--cor-titulos);
    padding-bottom: 1em;
}
main p{
    line-height: normal;
}
/*
=================Formulário===============
*/
main form{
    flex-direction: column;
    width: 152%;
}
main label{
    color: var(--cor-formulario);
}
main form input{
    box-shadow: 2px 5px 15px #000000;
    text-align: center;
    width: 100%;
    height: 3.7em;
    border: 0;
}

main form button{
    background:var(--cor-fundo-botão) ;
    position: absolute;
    left: 72.2%;
    height: 3.7em;
    width: 3.7em;
    border: 0;
}

a.lerMais{
    color: var(--cor-fundo-botão);
    text-decoration: none;
    margin-top: 4em;
    
}
/*
=================Media queries===============
*/

/*
Media queries têm a função de facilitar o processo da configuração dos elementos de um site em diferentes tamanhos de tela.
*/

@media screen and (max-width: 768px){
    body{ /*corpo da página*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main, header{ /*conteúdo e cabeçalho*/
        display: flex;
        background: var(--cor-bg-transparente);
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 95%;
    }
    main form{ /*formulário*/
        width: 80%;
    }

}